img{
    width:25%;
    height:25%;
}

header{
     display:flex;
    flex-flow: row; 
}

header img{   
    margin:auto;
    border: 1px solid black;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}