img{
    width:25%;    
}

header img{
    display:inline;
    margin:auto;
    border: 1px solid black;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    display:inline;
}